<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet" />

<div class="barontop">
  <p><button>EDUCATIONAL BACKGROUND</button></p>
</div>
<div class="allcards">
  <div class="card">
    <img src="assets/school2c.jpg" alt="Denim Jeans" style="width:100%" />
    <h1>Aldersgate Ecumenical School Inc.</h1>
    <p class="price"><span style="color:#6200be">Grade 1 - Grade 6</span></p>
    <p class="info">A Private School From Toddler to Grade 10.</p>
    <p class="sInfo">
      <b><span style="color:#6200be">Address:</span></b> A. DEL ROSARIO ST.,
      LNW, ANGELES CITY
    </p>
    <p class="sInfo">
      <b><span style="color:#6200be">Contact:</span></b> (045) 304-9631
    </p>
    <p><button>ELEMENTARY</button></p>
  </div>

  <div class="card">
    <img src="assets/school1.jpg" alt="Denim Jeans" style="width:100%" />
    <h1>Holy Angel University</h1>
    <p class="price"><span style="color:#6200be">Grade 7 - Grade 12</span></p>
    <p class="info">
      Holy Angel University is a private Catholic research university in Angeles
      City, Philippines. Founded in June 1933 by Don Juan Nepomuceno and Fr.
    </p>
    <p class="sInfo">
      <b><span style="color:#6200be">Address: </span></b> #1 Holy Angel St,
      Angeles, 2009 Pampanga
    </p>
    <p class="sInfo">
      <b><span style="color:#6200be">Contact:</span></b> (045) 887-5748
    </p>
    <p><button>HIGH SCHOOL</button></p>
  </div>

  <div class="card">
    <img src="assets/school1.jpg" alt="Denim Jeans" style="width:100%" />
    <h1>Holy Angel University</h1>
    <p class="price"><span style="color:#6200be">1st Year - 3rd Year</span></p>
    <p class="info">
      Holy Angel University is a private Catholic research university in Angeles
      City, Philippines. Founded in June 1933 by Don Juan Nepomuceno and Fr.
    </p>
    <p class="sInfo">
      <b><span style="color:#6200be">Address:</span></b> #1 Holy Angel St,
      Angeles, 2009 Pampanga
    </p>
    <p class="sInfo">
      <b><span style="color:#6200be">Contact:</span></b> (045) 887-5748
    </p>
    <p>
      <button>COLLEGE <span style="color:#6200be">(CURRENT)</span></button>
    </p>
  </div>
</div>
