<div class="card">
  <p><button>REFERENCES</button></p>
  <div class="left-ref">
    <p><b>Allen Bumanlag</b></p>
    <p>Junior Web Developer</p>
    <p>Eisenbach Consulting, LLC</p>
    <p>11th Floor, Regus Building Apple One, Equicom Tower</p>
    <p>+1 800-977-4020</p>
    <p>afbumanlag@student.hau.edu.ph</p>
    <p>Back-End Web Developer</p>
  </div>

  <div class="right-ref">
    <p><b>Allen Bumanlag</b></p>
    <p>Web Developer</p>
    <p>Google, Inc.</p>
    <p>1600 Amphiltheatre Parkway Mountain View, CA 94043</p>
    <p>123-456-7890</p>
    <p>afbumanlag@student.hau.edu.ph</p>
    <p>Web Designer</p>
  </div>
</div>
