<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div class="container">
      <img src="/assets/img1.jpg" alt="mypic" />
      <div class="text">
        <h1 class="hithere">HI THERE! I'M,</h1>
        <h1 class="Allen"><span style="color:#6200be">ALLEN </span>BUMANLAG</h1>
        <p>
          I'm a Student currently on my third year of<br />
          <span style="color:#6200be">Web Developing</span> and
          <span style="color:#6200be"> Web Designing</span> at<br />
          Holy Angel University.
        </p>

        <div class="division">
          <img src="assets/phone.png" alt="phone" class="phonepic" />

          <div class="text-left"></div>
          <div class="text-right">
            <p class="mainPhone">092897251543</p>
          </div>

          <div class="email-right">
            <img src="assets/email.png" alt="phone" class="phonepic2" />
          </div>
          <div class="email-left">
            <p class="mainEmail">afbumanlag@student.hau.edu.ph</p>
          </div>
        </div>
      </div>
    </div>

    ​
  </body>
</html>
