<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet" />

<body>
  <p class="mybg"></p>
  <div class="box">
    <div class="barontop">
      <p><button>List of my Achievements</button></p>
    </div>
    <ul>
      <li class="text">
        <span style="color:#6200be">Primary Diploma for Academic Year</span>
        <p>2008-2014</p>
      </li>
      <li class="text">
        <span style="color:#6200be">NCII Passer in Tour Guiding Services</span>
        <p>December 18, 2018</p>
      </li>
      <li class="text">
        <span style="color:#6200be"
          >High School Diploma for Academic Year 2017-2019</span
        >
        <p>April 10, 2019</p>
      </li>
      <li class="text">
        <span style="color:#6200be"
          >Land of Dawn in PRAELIA: Mobile Legends Tournament (CICT Days)
          Champions
        </span>
        <p>Oct 5, 2019</p>
      </li>
      <li class="text">
        <span style="color:#6200be"
          >Mythical Glory : War of the Virtouso (University Days) 2nd Runner
          Up</span
        >
        <p>Feb 1, 2020</p>
      </li>
    </ul>
  </div>
</body>
